---
let { tags, inLine } = Astro.props;

if (!inLine) {
    tags = tags.sort(); // consistent order for list style
}
---

{
    inLine ? (
        tags.map((tag: string, idx: number) => (
            <span>
                <a class="underline" href={`/tags/${tag}`}>
                    {tag}
                </a>
                {idx !== tags.length - 1 ? <span> &#x2022 </span> : ""}
            </span>
        ))
    ) : (
        <div>
            {tags.map((tag: string) => (
                <div>
                    <a class="underline" href={`/tags/${tag}`}>
                        {tag}
                    </a>
                </div>
            ))}
        </div>
    )
}
