---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, titleMargin } = Astro.props;

let titleClasses = "text-4xl font-bold";
if (titleMargin) {
    titleClasses += " mb-5";
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X9ZL1BN1R2"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-X9ZL1BN1R2");
    </script>
    <body>
        <Header />
        <div class="flex justify-center m-10">
            <div class="max-w-5xl flex-grow">
                <h1 class={titleClasses}>{pageTitle}</h1>
                <slot />
            </div>
        </div>
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
