---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;

const pubDateString = new Date(frontmatter.pubDate);
const pubDate = pubDateString.toDateString();
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="mb-10">
        <div>{pubDate}</div>
        <Tags tags={frontmatter.tags} inLine />
    </div>
    <slot />
</BaseLayout>
